body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #404144;
	line-height: 17px;
}
.bold {
	font-weight: bold;
}
.not-styled-list {
	list-style: none;
}
.navbar {
	position: static !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
}
#site-logo-wrap {
	float: left;
	margin-left: 50px;
	width: 80px;
}
#site-logo-wrap img{
	border: none;	
	width: 80px;
}
.navbar-header a, 
.navbar-header a:hover,
.navbar-header a:active{
	border: none;	
	text-decoration: none;
	color: #ffffff;
}
.navbar-header h1 {
	font-size: 25px;
	float: left;
	color: #fff;
    margin: 0;
    margin-top: 10px;
	padding: 0px 0px 0px 20px;
}
.navbar-header h2 {
	font-size: 14px;
	float: right;
	color: #fff;
    margin: 0;
    margin-top: 10px;
}
a.navbar-brand {
	width: 410px;	
	height: auto;	
}
#basket-block {
    float: right;
    margin: 33px 40px 10px 10px;
}
#top-menu {
	clear: both;
}
.top-menu-right {
	float: right;
	margin-top: -29px;
}
#top-menu  ul li {
	float: left;
    color: #fff;
}
#top-menu  ul li a{
	color: #fff;
}
#top-menu  ul li.active a{
	color: #ccc;
	text-decoration: underline;	
}
.main-container {
	width: 100% !important;
}
aside.col-lg-2 {
	min-height: 560px;
	background: #ccc;
}
.main-row {
	margin-top: 24px;
}
.main-content {
	min-height: 560px;
	padding: 10px 	
}
.item-xs-3 {
	margin: 1%;
	padding: 1%;
	float: left;
	width: 23%;
}

.catalog .item {
	min-height: 100px;
	background: #ccc;
}
.news-block {
	margin-bottom: 20px;
}
.news-block h4{
    font-size: 15px;
    font-weight: bold;
}
.news-block p {

}
.news-block a.read-more {
	
}
footer {
    background-color: #222;
    border-color: #080808;
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    padding: 15px 0;
    width: 100%;
    height: 45px;
}
footer .text-muted{
	color: #fff;
}
@media (min-width: 768px) {
	.navbar{
		padding: 13px 0px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.navbar-right {
		padding-right: 15px;
	}
}

@media (max-width: 970px) {
	.main-container {
		min-height: 560px;
	}
}
@media (max-width: 768px) {
	.main-container {
		min-height: 560px;
	}
}

